<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>

<app>Loading...</app>

<!-- shims:js -->
<!-- endinject -->

<script>System.config( <%= JSON.stringify(SYSTEM_CONFIG) %>)</script>

<!-- libs:js -->
<!-- endinject -->

<script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
        'Report this error at mittal.neeraj@gmail.com');
    });
</script>

<!-- inject:js -->
<!-- endinject -->

</body>
</html>
